{% extends 'layout/layout_admin.html' %}

{% block content %}
<div class="d-flex flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2 me-3">Detalles de producto</h1>
</div>

<div>
    <div class="row">

        <div class="col-12">
            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input readonly type="text" class="form-control" value="{{ product.pro_nombre}}">
                <div class="form-text">Nombre del producto, titulo de la publicacion.</div>
            </div>
        </div>

        <div class="col-6">
            <div class="mb-3">
                <label class="form-label">Precio</label>
                <input readonly type="text" class="form-control" value="{{ product.pro_precio}}">
                <div class="form-text">Precio en pesos COP.</div>
            </div>
        </div>

        <div class="col-6">
            <div class="mb-3">
                <label class="form-label">Descripcion</label>
                <textarea readonly type="text" rows="4" class="form-control">{{ product.pro_descripcion}} </textarea>
                <div class="form-text">Descripcion o reseña de este producto.</div>
            </div>
        </div>

        <div class="col-12">
            <div class="mb-3">
                <label class="form-label">Imagen</label>
                <img src="/static/img/productos/{{product.pro_img}}" class="form-control img-fluid rounded border border-secondary" style="width: 280px !important"></img>
            </div>
        </div>

    </div>

    <hr>

    <div class="text-end">
        <a href="{{ url_for('productos_bp.index') }}" class="btn btn-danger me-2">Volver</a>
    </div>

</div>
{% endblock %}