<footer class="bg-dark text-white py-3">
    <div class="container">
        <div class="float-right"> <a href="#">Ir arriba</a> </div>
        <div class="pt-2">Este Ecommerce hace parte de la entrega final del ciclo 3 para el curso del MINTIC</div>
    </div>
</footer>


<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

<script type="text/javascript"
    src="{{ url_for('static', filename='DataTables-1.11.3/js/jquery.dataTables.min.js') }}"></script>
<script type="text/javascript"
    src="{{ url_for('static', filename='DataTables-1.11.3/js/dataTables.bootstrap5.min.js') }}"></script>