<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="{{ url_for('index') }}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <i class="bi-basket2" style="font-size: 2rem; color: white;"></i>
            </a>

            <ul class="nav col-12 ms-3 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{{ url_for('index') }}" class="nav-link px-2 text-white">Ecommerce - MinTic</a></li>
            </ul>

            <div class="text-end">
                <a href="{{ url_for('index') }}" class="btn btn-outline-light">Volver a la tienda</a>
            </div>
        </div>
    </div>
</header>
