<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="{{ url_for('index') }}"
                class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <i class="bi-basket2" style="font-size: 2rem; color: white;"></i>
            </a>

            <ul class="nav col-12 ms-3 col-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{{ url_for('index') }}" class="nav-link px-2 text-white">Ecommerce - MinTic</a></li>
            </ul>

            <form class="col-12 col-lg-4 mb-3 mb-lg-0 me-auto ms-auto">
                <form action="{{ url_for('index') }}" method="get">
                    <input type="search" name="q" class="form-control form-control-dark" placeholder="Buscar..."
                        aria-label="Search" value="{{ request.args.get('q') if request.args.get('q') else '' }}">
                </form>
            </form>

            {% if 'auth_id' not in session %}
            <div class="text-end">
                <a href="{{ url_for('usuarios_bp.registrarse') }}" class="btn btn-outline-light me-2">Registrarse</a>
                <a href="{{ url_for('usuarios_bp.iniciarSesion') }}" class="btn btn-outline-light">Iniciar Sesion</a>
            </div>
            {% else %}
            <div class="text-end">
                <a href="{{ url_for('inicio_bp.index') }}" class="btn btn-outline-light me-2">Mi dashboard</a>
                <a href="{{ url_for('usuarios_bp.cerrarSesion') }}" class="btn btn-outline-light">Cerrar Sesion</a>
            </div>
            {% endif %}

        </div>
    </div>
</header>